Body{
    background-color: #570e0e;
    color: white;
    font-family: "UnifrakturMaguntia", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    font-size: 25px;


 }
  
 button {
    background-color: #a71212;
    color: white;
     font-family: "UnifrakturMaguntia", cursive;
     font-size: 20px;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main{
max-width: 90%;
text-align: center;


}

img{
    
    max-width: 90%;


}